.city {
  padding: 2rem 3rem;
  max-height: 75%;
  background-color: var(--color-dark--2);
  border-radius: 7px;

  /* overflow: scroll; */

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: scroll;
}

.city::-webkit-scrollbar {
  width: 8px;
}

/* Estilos barra (thumb) de scroll */
.city::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.city::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

.city::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Estilos track de scroll */
.city::-webkit-scrollbar-track {
  background: var(--color-dark--1);
  border-radius: 4px;
}

.city::-webkit-scrollbar-track:hover,
.city::-webkit-scrollbar-track:active {
  background: var(--color-dark--1);
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.city h6 {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 900;
  color: var(--color-light--1);
}

.city h3 {
  font-size: 1.9rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.city h3 span {
  font-size: 3.2rem;
  line-height: 1;
}

.city p {
  font-size: 1.6rem;
}

.city a:link,
.city a:visited {
  font-size: 1.6rem;
  color: var(--color-brand--1);
}

.containerProfile {
  display: flex;
  gap: 1rem;
}

.profile {
  flex-wrap: wrap;
}

.profile img {
  border-radius: 100px;
  height: 7rem;
}

.progress {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.tipoPunto {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.buttons {
  display: flex;
  justify-content: center;
}

.containerBtns {
  display: flex;
  justify-content: space-around;
}

.aporteImg {
  width: 150px;
}

.headerAporte {
  display: flex;
  justify-content: space-between;
}

.tipoPuntoHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.materials {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.materials li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.materials li p {
  font-size: 1.2rem;
}
